<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publier</title>
</head>
<body>
    <h1>Home Page</h1>
    
    <div class='container'>
    	<!-- <div class='post'>
    		<div class='title'></div>
    		<div class='message'></div>
    		<form action="/show-post-controller/1" method="get">
    			<input type='submit' value='Ver Post' />
    		</form>
    	</div>  -->
    </div>
    
    <button onclick="showMore()" class='load-more-posts'>Mostrar Mais</button>
    
    <script type="text/javascript" src='js/homeGetContentFromServer.js'></script>
</body>
</html>